//- sidebar.pug
.row.mb-5
  a(href="/work"): h1 Soft Object
.row.navigation(role="navigation")
  ul.list-group.list-group-flush(style="width: 100%")
    a.list-group-item.list-group-item-action.pl-0(href="/weekly1") Weekly 1: Documentation Exploration
    a.list-group-item.list-group-item-action.pl-0(href="/weekly2") Weekly 2: Exploring Barklice Fiber
    a.list-group-item.list-group-item-action.pl-0(href="/weekly3") Weekly 3: Creating Nail Polish Filament
    a.list-group-item.list-group-item-action.pl-0(href="/weekly4") Weekly 4: Plying and Braiding Electromagnets
    a.list-group-item.list-group-item-action.pl-0(href="/weekly5") Weekly 5: Exploring Different Kit Structures
    a.list-group-item.list-group-item-action.pl-0(href="/weekly6") Weekly 6: Exploring Woven Structures
    a.list-group-item.list-group-item-action.pl-0(href="/weekly7") Weekly 7: Tasty Leather
    a.list-group-item.list-group-item.action.pl-0(href="/weekly8") Weekly 8: Materials for Textile Electronics



