//- layout.pug
include partials/header.pug
body
  .container-fluid.mt-5.ml-2
    .row
      .col-2(style="max-width: 400px;")
        include partials/sidebar.pug
      .col-9.ml-2.main
        block content
