//- projects.pug
extends layout.pug
block content
  .row.justify-content-center.mt-4
    .col-5
      .card.mb-3(style="max-width: 540px;")
        .row.no-gutters
          .col-lg-6
            a(href="/weekly1" aria-label="Documentation Exploration")
              img(src="media/weekly1/tile.jpg" alt="A Google Pixel 3a, a USB digital microscope, a Xenvo pro lens, a clip-on light, and tape arranged next to each other on a wooden desk." style="width: 100%;")
          .col-lg-6
            .card-body
              .card-title Weekly 1: Documentation Exploration
              .card-text ...
              a.read-more.mt-3(href="/weekly1" aria-label="Read more about documentation exploration") Read more
    .col-5
      .card.mb-3(style="max-width: 540px;")
        .row.no-gutters
          .col-lg-6
            a(href="/weekly2" aria-label="Blog post about exploring Barklice Fiber")
              img(src="media/weekly2/tile.jpg" alt="A close-up of barklice webbing. The fibers are fused into strands reminicent of clumps of hair." style="width: 100%;")
          .col-lg-6
            .card-body
              .card-title Weekly 2: Exploring Barklice Fiber
              .card-text ...
              a.read-more.mt-3(href="/weekly2" aria-label="Read more about exploring barklice fiber") Read more
  .row.justify-content-center.mt-4
    .col-5
      .card.mb-3(style="max-width: 540px;")
        .row.no-gutters
          .col-lg-6
            a(href="/weekly3" aria-label="Blog post about creating nail polish filament")
              img(src="media/weekly3/tile.jpg" alt="A close-up of redish, pinkish nail polish filament. The filament is ribbon-like and almost transparent." style="width: 100%;")
          .col-lg-6
            .card-body
              .card-title Weekly 3: Creating Nail Polish Filament
              .card-text ...
              a.read-more.mt-3(href="/weekly3" aria-label="Read more about creating nail polish filament") Read more
    .col-5
      .card.mb-3(style="max-width: 540px;")
        .row.no-gutters
          .col-lg-6
            a(href="/weekly4" aria-label="")
              img(src="images/weekly4/" alt="" style="width: 100%;")
          .col-lg-6
            .card-body
              .card-title Weekly 4: 
              .card-text ...
              a.read-more.mt-3(href="/weekly4" aria-label="") Read more