//- weekly5.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 5: Exploring Different Kit Structures
      .row.mt-5
        p
          b Vision.  
          | I want to learn how to knit. I found a 
          a(href="https://blog.nobleknits.com/blog/2018/10/17/how-many-types-of-knitting-are-there" target="_blank" aria-label="Different types of knitting stitches explained.") list of basic knitting stitches  
          | to try out: Garter stitch, Stockinette stitch, Rib stitch, and Seed stitch.
          | I want to compare their structure without having to consider tension, yarn size, neelde size, etc., so I think it might be best to knit a single swatch with all the different stitches.
      .row.mt-4
        p
          b Process 1.  
          | I want to practice holding the needles and get comfortable moving the yarn around without dropping stitches or letting "loops" slip off my needles.
          | I selected 6.0 mm (US 10) size bamboo knitting needles and a XXXXX yarn from Jo-Ann Fabric.
      .row.mt-2
        img.img-fluid(src="media/weekly5/needles-and-yarn.jpg" style="max-width: 100%; height: auto;" alt="Size 6.00 mm (US 10) bamboo knitting needles and a maroon ball of yarn next to each other.")
      .row.mt-4
        p
          | I started with a simple Garter stitch -- all knits in every row. I cast on a bunch of stitches; maybe 20 or more.
          | Because all of the stitches or "knots" are facing the same direction, they begin to spiral.
      .row.mt-2
        img.img-fluid(src="media/weekly5/cast-on-spiral.png" style="max-width: 100%; height: auto;" alt="A knitting needle with several stitches cast-on. The stitches all face the same direction and spiral around the knitting kneedle.")
      .row.mt-4
        p
          | This felt daunting so removed all of the stitches and cast on 15 stitches to create a smaller, ~5-inch swatch.
          | I knitted several rows of the Garter stitch.
          | There are a few looser rows in the beginning but later rows are snug and even.
          br
          br
          | I started to feel confident in my needle movement so I switch to the Stockinette stitch -- alternating rows of knit and purl stitch.
          | The differences in the structures of the two patterns is noticeable right away.
          | The Garter stitch creates puffy rows whereas the Stockinette stitch creates thin V-shaped columns.
          br
          br
          | Adding in the purl stitch allowed me to see the knit structure as a set of loops.
          | I am now able to inspect the rows and tell which stitch is which and if the stitches are correct.
          | So I move on to the Rib stitch.
          | Instead of a traditional 1x1 Rib stitch, I am going to try a 3x3 Rib stitch. Because I cast-on 15 "loops", I will end up with an even number of knit and purl stitches. 
          br
          br
          | To me the Rib stitch looks like the Stockinette stitch but with some columns flipped -- showing the back of the stitch rather than the front.
          | The V-shaped columns portrude from the purled columns and give the illusion of a 3D pattern.
          br
          br
          | Last, I try the Seed stitch. It is thicker than the Stockinette stitch but not as puffy as the Garter stitch.
          | It looks like a grid of knots and is not as soft to touch as the other stitches -- it has a more noticeable texture.
      .row.mt-2
        img.img-fluid(src="media/weekly5/collage-1.png" style="max-width: 100%; height: auto;" alt="Several rows of the garter stitch, the stockinette stitch, a 3x3 rib stitch, and a seed stitch on a knitting needle.")
      .row.mt-4
        p
          | I manipulated the swatch in my hands, pulling, bending, and stretching it to get a sense of how it might move as a garment.
          | Row-wise, all of the stitches stretch quite a bit. Column-wise, the stitches are more snug.
          | The Stockinette stitch columns stretch the least and the Seed stitch columns stretch the most.
      .row.mt-2
        img.img-fluid.center-block(src="media/weekly5/stretching-the-knit.gif" style="max-width: 100%; height: auto;" alt="A GIF of two hands stretching a swatch of knit with 4 different stitches: Garter stitch, Stockinette stitch, Rib stitch, and Seed stitch.")
      .row.mt-6
        p
          b Process 2.  
          | I want to add in some conductive wire. I had some left-over 36-AWG copper, magnet wire so I just knitted a Garter stitch with both the yarn and magnet wire in tandem.
          | I added the wire as if  
          a(href="https://www.youtube.com/watch?v=_mOWT-ct4X8" target="_blank" aria-label="Video about how to add a second color to a knit.") adding a second color  
          | to my swatch.
          | I want to see if the wire will snap in places as "knotting" a wire often causes the wire to break in two.
      .row.mt-2
        img.img-fluid(src="media/weekly5/copper-and-yarn-knitting.jpg" style="max-width: 100%; height: auto;" alt="A close-up of thin, copper magnet wire being knit along thick yarn using a Garter stitch. The copper is almost invisible as it hides between the thick strands of yarn.")
      .row.mt-4
        p
          | Knitting a small gauge wire was a bit challenging.
          | It is difficult to see (especially a copper colored wire next to a maroon yarn) and pick up with the needle.
          | In the swatch itself, it is almost invisible, hiding between the knits of the yarn.
          | This is a great way to hide electronics though I was hoping the copper wire would embellish my knit.
          | On the plus, the structure did not lose any stretchiness even though the wire itself does not stretch.
      .row.mt-2
        img.img-fluid(src="media/weekly5/copper-and-yarn-knit.jpg" style="max-width: 100%; height: auto;" alt="A section of knitted yarn and thin, copper magnet wire using a Garter stitch. The wire is nearly invisible in the knit structure.")
      .row.mt-4
        p
          | I think weaving the wire into the knit structure may be less difficult and may give me more control over the wire placement.
          | That is, I can thread the wire through the structure (or part of the structure) in any way that I like without having to maintain the knit structure of the yarn.
          | However, I wonder if I'll lose the stretch that is inherent to the knitting structure?
      .row.mt-4
        p
          b Process 3.  
          | Time to experiment. Can I make a stiff material stretch by knitting it?
          | To try it out, I knit some copper magnet wire by itself.
          | In general, one would use really small knitting needles for material this thin, but all I have are 6.0 mm (US 10) needles.
          | As a result, I expected the structure to be quite open.
          br
          br
          | I used a Stockinette stitch because I think it best showcases the "loops" in knitting.
      .row.mt-2
        img.img-fluid(src="media/weekly5/copper-knit.jpg" style="max-width: 100%; height: auto;" alt="A section of copper knit using the Stockinette stitch. The structure looks like loose mesh. There are some incorrect stitches in the knit.")
      .row.mt-4
        p
          | Holy cannoli that was difficult!
          | The wire on wooden knitting needles is slippery and difficult to hold in place. 
          | But, the wire knit is indeed stretchy.
          br
          br
          | To maintain sanity, I knit some medium yarn back in with the copper.
      .row.mt-2
        img.img-fluid(src="media/weekly5/copper-yarn-knit-stockinette.jpg" style="max-width: 100%; height: auto;" alt="A section of copper and medium yarn knit using the Stockinette stitch.")
      .row.mt-4
        p
          | Here is my entire swatch.
      .row.mt-2
        img.img-fluid(src="media/weekly5/swatch.jpg" style="max-width: 100%; height: auto;" alt="A swatch of knitting using different stitches and different materials.")
      .row.mt-6
        p
          b Reflection.
          | There are many more 
          a(href="https://www.studioknitsf.com/stitch-patterns-beginner/" target="_blank" aria-label="A list of 50 different types of stitches.") types stitches  
          | that I want to try out. I wonder if one of them will allow me to knit an electromagnet.
          br
          br
          | In previous posts, I have first conducted my exploration and then documented the process and the results.
          | For this investigation, I decided to document the process along the way.
          | I find this to be helpful in figuring out my next steps and makes documenting my work less daunting.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 09/27/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt