//- weekly6.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 6: Exploring Woven Structures
      .row.mt-5
        p
          b Vision.  
          | I want to explore weaving 3D structures -- until now, I have thought of woven fabrics as being two-dimensional.
          | I want to create layers, gaps, bumps, and grooves. 
      .row.mt-4
        p
          b Process 1.  
          | I found a pile of broken branches and I am thinking about using a forked twig as a loom.
          | To start, I wrapped two branches with cotton yarn to create two layers of warp.
          | The warp is snug and bouncy.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-1.png" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | I selected a medium yarn to weave a random pattern across the loom.
          | I wove a few rows on both sides using the simple under-over method.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-2.png" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | The warp was not as taut as I thought and started to move on me.
          | It was difficult to keep the cotton strings in place while pushing the yarn through the tight rows.
          | I stuck some push pins into the twig to hold up the first row of warp.
          br
          br
          | To add some depth to the weave, I switched to a thinner yarn.
          | I also wove in a twig across one layer.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-3.png" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | I experimented with different ways to weave around the twig to hide or accentuate it.
          | I tried to weave the two layers together into a single layer to make it look as if the twig is on top of the woven structure (or behind the woven structure when looking at it from the other side).
          | I also wove over the branch so that a section of the weave would create a bump
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-4.png" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | The resulting tapestry looks funky. A bit reminiscent of a dream catcher.
      .row.mt-4
        p
          b Process 2.  
          | I want to create a finger hopscotch tapestry.
          | Each of the hopscotch squares are woven with copper wire to create a series of capactive touch squares.
          | I am hoping to be able to sense any combination of hops with some simple calculations.
          br
          br
          | To do this, I used a rectangular, cardboard loom and a cotton warp.
          | For the weft, I used some light worsted, wool yarn and 38 AWG copper wire (for the squares).
          | I did a X weave pattern.
      .row.mt-2
        img.img-fluid(src="media/weekly6/hop-scotch-collage.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | Looks good.
      .row.mt-2
        img.img-fluid(src="media/weekly6/hop-scotch-test.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | It works.
      .row.mt-4
        p
          b Process 3.  
          | What can I turn into a loom? What materials might I used to construct a loom?
          br
          br
          | I used a Stockinette stitch because I think it best showcases the "loops" in knitting.
      .row.mt-2
        img.img-fluid(src="media/weekly6/loom.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-4
        p
          | 
      .row.mt-4
        p
          b Reflection.
          | It is difficult to predict how a weave pattern will turn out. 
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 10/03/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt