//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 4: Plying and Braiding Electromagnets
      .row.mt-5
        p
          b Vision.  
          | Electromangets are so cool! An electromagnet is a coil of wire (usually copper) with an electric current flowing through it.
          | The moving charges create a magnetic field such that the coil of wire behaves like a magnet.
          | Turning the current on or off turns the magnetic field on or off and changing the amount of furrent flowing through the coil changes the strenght of the magnetism.
          | Their uses are limitless, powering everything from  
          a(href="https://science.howstuffworks.com/electromagnet.htm" target="_blank" aria-label="An explanation of how electromagnets work") consumer devices and industrial equipment to  
          a(href="https://science.howstuffworks.com/transport/engines-equipment/maglev-train.htm#:~:text=In%20the%2021st%20century%20there,steel%20wheel%20and%20track%20trains." target="_blank" aria-label="An explanation of how maglev trains use electromagnetism.") mass transit.  
          br
          br
          | I am wondering if I can create an electromagnet out of textile. All I need to do is to incorporate a copper coil into yarn. Will a simple two-ply copper wire yarn combo suffice? Or maybe I can wrap or core spin copper wire around some other yarn or filament?
      .row.mt-4
        p
          b Process 1.  
          | I tried plying some X AWG copper wire and wool singles to create a two-ply yarn. I spun the wool singles using an 'S' twist and plied the copper wire and wool singles using a 'Z' twist with a drop spindle. 
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/--.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-2
        img.img-fluid(src="media/weekly3/--.jpg" style="max-width: 100%; height: auto;" alt="s")
      .row.mt-4
        p
          | I tried to create a yarn with a high ratio of copper wire to wool. I was not successful. There are about X twists per inch (TPI) of copper wire.
          | I am not sure about how I can increase the TPI of copper with respect to the wool singles. Is it possible to ply two singles such that one has a higher twist angle than the other?
          a(href="https://www.youtube.com/watch?v=unNcC645znA" target="_blank" aria-label="A video demonstrating how to handspin beehive coils") This technique for creating beehive coils in singles  
          | looks promising. Though, I think this is a wrapping or core spinnig process rather than a plying technique.
          br
          | On the plus, the yarn has no active twist and it "looks" balanced -- it is a bit difficult to tell as the stiffness of the copper wire prevents the yarn from twisting back on itself.
      .row.mt-4
        p
          b Process 2.  
          | Next, I tried incorporating the copper wire into a braid. The kumihimo round braid looked promising as each strand in the braid follows a circular pattern. Again, I am thinking about creating a copper coil.
          br
          | I created a 16 slot kumihimo disk from cardboard.
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/second_attempt.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing nail polish being poured into a bowl of cold water. The nail polish disperses into a thick film. A ben paper clip is used to attempt to extract the nail polish. The nail polish, however, did not congeal enough to be removed. Instead, the paper clip breaks the nail polish film and swirls it around.")
      .row.mt-4
        p 
          | I used six strands of two-ply, wool yarn and two strands of two-ply, copper wire -- I plied some copper wire using the drop spindle to increase its thickness though the ply ended up low-twist (Ooops).
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/fifth_attempt.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing a single drop of nail polish being dripped into a bowl of cold water. The nail polish disperses into an ultra thin film. A bent paper clip is used to extract a perfect nail polish filament.")
      .row.mt-4
        p Working with the copper wire was more difficult than anticipated. I was not able to maintain even tension between the thin copper wire and thicker wool yarn so the braid started to curl. Needless to say, I did not achieve a copper coil.
      .row.mt-2
        .embed-responsive.embed-responsive-9by16
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/fusing_filament.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing two pieces of nail polish filament being fused by twisting the ends of each filament togther.")
      .row.mt-6
        p
          b Process 3.  
          | I read up on how electromagnets work. I can increase the magnatism of the coil by wrapping the copper wire around a ferromagnetic material. The steel roving is magnetic.
          br
          | So I spun the steel roving into a singles and then plied it with some left over two-ply, copper wire. 
      .row.mt-4
        p
          b Reflection.  
          | What if I had plied 3 copper wires and 1 steel singles at once? Holding the copper wires in parallel. It might easier to simply coat yarn in ferromagnet dust.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 09/11/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt