//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 1: Documentation Exploration
      .row.mt-5
        p
          b Vision.  
          | ...
      .row.mt-4
        p
          b Process 1.  
          | ...
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="images/weekly1/" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p ...
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly1/" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p ...
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly1/" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p
          b Process 2.  
          | ...
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly1/" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p ...
      .row.mt-2
        img.img-fluid(src="media/weekly1/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-2
        img.img-fluid(src="media/weekly1/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-4
        p
          b Process 3.  
          | ...  
      .row.mt-4
        p
          b Reflection.  
          | ...
    .col-2.mt-6.ml-5
      p 
        .text-muted Posted on
        | 09/11/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt