//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 1: Documentation Exploration
      .row.mt-5
        p
          b Vision.  
          | ...
      .row.mt-4
        p
          b Process 1. How to make the filament.
          | Attempt 1. Using ice water in a small bowl. Adding a couple of drops. Trying to pull it out using a bent paper clip. Worked okay. Filament not very long. Looks a bit like ribbon. Pretty cool.
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly1/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p Attempt 2. More nail polish = more filament. Wrong. Added too much nail polish. The nail polish doesn't coagulate enough. The filament breaks.
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly1/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p Attempt 3. Got it figured out. Need a thin film of nail polish on the water. Ice water not necessary - cold tap water will suffice. Getting neat ribbons. If I had a larger vessel I could create a large nail polish film and longer filament.
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly1/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p
          b Process 2.  
          | Because my filament is a bit short I decided to try to fuse it goether to create a longer string. After removing it from the water (in its coagulated state) it is still sticky enough to stick to each other. I simply twist two ends of nail polish filament between my fingers to attach them.
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly1/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p Looking at it under the macro lens.
      .row.mt-2
        img.img-fluid(src="images/weekly1/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-2
        img.img-fluid(src="images/weekly1/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-4
        p
          b Process 3.  
          | Googling. There is this science experiment making nail polish film.
      .row.mt-4
        p
          b Reflection.  
          | ...
    .col-2.mt-6.ml-5
      p 
        .text-muted Posted on
        | 09/11/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt