//- weekly7.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 7: Tasty Leather
      .row.mt-5
        p
          b Vision.  
          | I want to make a textile out of an unconventional material; not out of fibers or filaments.
          | I am inspired by how paper is made.
          | In particular, that wood pulp can be pressed, formed, and dried into strong, flexible sheets.
          | I wonder what else can be turned into thin sheet in this way.
          | The first thing that comes to mind are apples.
          | In fact, I remember eating fruit leather as a child.
          | Could fruit leather be a textile? Can I make it conductive somehow?
      .row.mt-4
        p
          b Process 1.  
          | Usually I dive right into experimentation, but this time, I think it would be wise to do some research.
          | 
          | It is the 
          a(href="http://www.ncbe.reading.ac.uk/MATERIALS/Enzymes/PDF/JAM01.pdf" aria-label="A document on fruit juice production.") pectin in the apple  
          | that creates the fruit leather as pectin is insoluable. Google what makes fruit leather leather.
      .row.mt-4
        p
          b Process 2.  
          | I looked up some videos on how to make fruit leather from apples.
          | I came across two recipes that seemed to result in solid sheets. 
          a(href="https://www.youtube.com/watch?v=8sBv0AdQztU&feature=youtu.be" aria-label="A demonstration of how to make fruit leather from apples and black berries.") This video  
          | shows a process of peeling, chunking, and cooking the apples down (a lot). Then, straining the pulp, pouring it onto a sheet lined with parchement paper, and baking it on low temperature in the oven.
          | The publisher of the video suggests using a "cooking apple because it needs to pulp down."
          | While in 
          a(href="https://www.youtube.com/watch?v=InY_pFjRzHI&feature=youtu.be" aria-label="") this video,  
          | the person chunks and cooks the apples down. Then, blends the cooked apples into a puree using a blender, pours the pulp onto a sheet lined with silcone baking mat, and bakes it on low temperature in the oven.
          br
          br
          | To make the fruit leather, I used 4 lbs. of apples (2 lbs. of Granny Smith apples, a "cooking" apple, and 2 lbs. of Jazz apples).
          | I cut each apple into 8ths and removed the core bits.
          | Then, I cut the pieces into chunks.
          | When cutting the apples, I noticed that the Granny Smith apples were tougher than the Jazz apples -- crispier but also tougher somehow.
          | I left the skin on the apples (as in the second video) in the hope that the apple skin will lend strength to the fruit leather.
          | I put all of the apples chunks in a pot and cooked them down for 20 minutes.
          | I did not add water or lemon juice.
          | I did not want to dilute the mixture and I was worried that the lemon juice would break down the celulose in the apple skins therefore weakening the structure.
      .row.mt-2
        img.img-fluid(src="media/weekly7/collage-1.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom showing the progress of weaving wool yarn with the under-over method.")
      .row.mt-4
        p
          | Next, I blended the mixture and added some cinnamon and nutmeg; why shouldn't my textile also taste delicious?
          | Then, I poured 1/3 of the mixture onto a baking sheet lined with parchment paper and spread it into a thin(ish) layer using a flat cooking spoon.
          | Too thin and it might be brittle, too thick and it won't be as flexible.
          br
          br
          | I baked the pulp for X minutes at 170 degrees Fahrenheit (the lowest oven setting as suggested by both videos)
      .row.mt-2
        img.img-fluid(src="media/weekly7/collage-2.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom woven with green yarn and multicolored jute, copper wire yarn. The images show the progress of creating 3 jute, copper wire squares with green yarn in between.")
      .row.mt-4
        p
          | The resulting fruit leather ...
      .row.mt-2
        img.img-fluid(src="media/weekly7/collage-3.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom woven with green yarn and multicolored jute, copper wire yarn. There are 3 jute, copper wire squares with green yarn in between each square and surrounding the squares. The squares are arranged in a 1-2 hopscotch pattern.")
      .row.mt-4
        p
          | Time for some experimentation. What can I add to make the fruit leather stronger?
          | Most commerical fruit leathers contain malto-dextrin,
          a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4940893/" aria-label="A review of malto-dextrin") a modified food starch derived from corn, rice, wheat, and other botanical sources.
          | This supposedly makes the leather
          a(href="http://www.madehow.com/Volume-5/Fruit-Leather.html" aria-label="How fruit leather is processed.")  soft and malleability.
          | In other foods, it is often used as an inexpensive additive for thickening.
          br
          br
          | I don't have malto-dextrin but I do have corn starch. The two are probably not comparable ... ¯\_(ツ)_/¯.
          | So I added 2 TSPs of corn starch to 1/3 of the remaining mixture and blended it some more.
          | As corn starch requires heat to thicken, I boiled the mixture in a small saucepan for a couple of minutes.
          | Next, I poured it onto a baking sheet lined with parchment paper and spread it out as I did before.
          | The corn starch, apple mixture is definitely more viscous than the apple mixture. 
          | Last, I popped it in the oven to dry for X minutes along with the previous mixture.
      .row.mt-2
        img.img-fluid(src="media/weekly7/collage-4.png" style="max-width: 100%; height: auto;" alt="A GIF demonstrating how the hopscotch board is to be used. A person's fingers jump from square to square.")
      .row.mt-4
        p
          | The results are ...
      .row.mt-2
        img.img-fluid(src="media/weekly7/collage-5.png" style="max-width: 100%; height: auto;" alt="A GIF demonstrating how the hopscotch board is to be used. A person's fingers jump from square to square.")
      .row.mt-6
        p
          b Process 3.  
          | How can I make the apple leather conductive?
          | I could mix in conductive roving, yarn, or wire but maybe there is an edible alternative?
          | A quick Google search for "conductive food" revealed that a lot of 
          a(href="https://www.sciencebuddies.org/science-fair-projects/ask-an-expert/viewtopic.php?t=11269" aria-label="A forum discussing the conductivity of fruits.") fruit and vegetable juices are conductive. 
          | Fruits and vegetables contain large amounts of water and, therefore, can conduct electricity.
          | Citric acid and ascorbic acid can further increase conductivity as acids make ions.
          | So, as a citrus fruit, an apple makes for an excellent conductors. 
          a(href="https://www.youtube.com/watch?v=8YvYWLb0KGU" aria-label="A demonstration of how to turn an apple into a battery.") Apples can even be used as a battery.  
          | In theory, the apple fruit leather should be conductive.
          br
          br
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-8.png" style="max-width: 100%; height: auto;" alt="Several images of a shoe being converted into a loom by rearranging the shoe laces into warp and weaving another shoe lace across the warp.")
      .row.mt-6
        p
          b Reflection.
          | Cook the apples less or more time??
          | Making food conductive is a thing. Researchers have managed to make edible circuits using 
          a(href="https://3dprint.com/91739/3d-printed-vegemite-conductive/" aria-label="An article on 3D printing conductive food.") vegemite and 3D printing
          |, and 
          a(href="https://www.fastcompany.com/90160784/edible-graphene-is-here-and-electronics-in-your-food-are-coming" aria-label="") using laser etching and surface carbons in food like toast, potatoes, and coconut shells. 
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 10/07/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt