//- weekly4.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 4: Plying and Braiding Electromagnets
      .row.mt-5
        p
          b Vision.  
          | Electromangets are so cool! An electromagnet is a coil of wire (usually copper) with an electric current flowing through it.
          | The moving charges create a magnetic field such that the coil of wire behaves like a magnet.
          | Turning the current on or off turns the magnetic field on or off and changing the amount of furrent flowing through the coil changes the strenght of the magnetism.
          | Their uses are limitless, powering everything from  
          a(href="https://science.howstuffworks.com/electromagnet.htm" target="_blank" aria-label="An explanation of how electromagnets work") consumer devices and industrial equipment to  
          a(href="https://science.howstuffworks.com/transport/engines-equipment/maglev-train.htm#:~:text=In%20the%2021st%20century%20there,steel%20wheel%20and%20track%20trains." target="_blank" aria-label="An explanation of how maglev trains use electromagnetism.") mass transit.  
          br
          br
          | I am wondering if I can create an electromagnet out of textile. All I need to do is to incorporate a copper coil into yarn. Will a simple 2-ply copper wire, yarn combo suffice? Or maybe I can braid copper wire into coils? I anticipate that wrapping and core spin copper wire around some other yarn or filament will work so I want to focus on the former two techniques.
      .row.mt-4
        p
          b Process 1.  
          | I started by plying some 38 AWG copper wire and wool singles to create a 2-ply yarn. I spun the wool singles using an 'S' twist and plied the copper wire and wool singles using a 'Z' twist with a drop spindle. 
      .row.mt-2
        img.img-fluid(src="media/weekly4/collage-1.PNG" style="max-width: 100%; height: auto;" alt="A drop spindle, torquise wool roving, and copper wire wrapped around a screw driver, a close-up of the wool roving, a close-up of the copper wire, and a close-up of the plied wool singles and copper wire.")
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly4/spinning-1.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing how to ply a wool singles and copper wire using a drop spindle.")
      .row.mt-4
        p
          | I tried to create a yarn with a high ratio of copper wire to wool. I was not successful. The thin copper coils in the 2-ply are too far apart to be able to create a noticeable magnetic field.
          | There are about 15 twists per inch (TPI) of copper wire.
          | I am not sure how I can increase the TPI of copper with respect to the wool singles. Is it possible to ply two singles such that one has a higher twist angle than the other?  
          a(href="https://www.youtube.com/watch?v=unNcC645znA" target="_blank" aria-label="A video demonstrating how to handspin beehive coils") This technique for creating beehive coils in singles  
          | looks promising. Though, I think this is a wrapping or core spinnig process rather than a plying technique.
          br
          | On the plus, the yarn has no active twist and it "looks" balanced -- it is a bit difficult to tell as the stiffness of the copper wire prevents the yarn from twisting back on itself.
      .row.mt-4
        p
          b Process 2.  
          | Next, I tried incorporating the copper wire into a braid. The  
          a(href="https://prumihimo.com/resources/braiding-patterns/round-braid/" target="_blank" aria-label="How to kumihimo round braid") kumihimo round braid  
          | looked promising as each strand in the braid follows a circular pattern. Again, I am thinking about creating a copper coil.
          br
          br
          | First, I created a 16 slot kumihimo disk from cardboard.
      .row.mt-2
        img.img-fluid(src="media/weekly4/collage-2.PNG" style="max-width: 100%; height: auto;" alt="Several images showing the construction of a kumihimo disk out of cardboard.")
      .row.mt-4
        p 
          | I used six strands of 2-ply, wool yarn and two strands of 2-ply, copper wire -- I plied some copper wire using the drop spindle to increase its thickness though the ply ended up low-twist (Ooops).
      .row.mt-2
        img.img-fluid(src="media/weekly4/collage-3.PNG" style="max-width: 100%; height: auto;" alt="Several images showing the construction of a kumihimo braid using wool yarn and copper wire.")
      .row.mt-4
        p Working with the copper wire was more difficult than anticipated. I was not able to maintain even tension between the thin copper wire and thicker wool yarn so the braid started to curl. Needless to say, I did not achieve a copper coil.
      .row.mt-2
        img.img-fluid.center-block(src="media/weekly4/braid.gif" style="max-width: 100%; height: auto;" alt="A GIF showing the braid rotated between two fingers.")
      .row.mt-6
        p
          b Process 3.  
          | I don't want to wrap the copper wire around a filament -- I know this will work. Instead, I want to try to increase the magnetic field by plying the copper wire with some ferromagnetic metal roving.
          | I have some stainless steel roving that may work. Stainless steels comprise of a large group of steel alloys that are made of different metal compositions. Some may be magnetic while others are not.
          | I held a magnet up against the steel roving and it is magnetic.
      .row.mt-2
        img.img-fluid.center-block(src="media/weekly4/steel-roving.gif" style="max-width: 100%; height: auto;" alt="A GIF showing the stainless steel roving being attracted to a small magnet.")
      .row.mt-4
        p I spun the steel roving into a singles and then plied it with some left over 2-ply, copper wire.
      .row.mt-2
        img.img-fluid(src="media/weekly4/collage-4.PNG" style="max-width: 100%; height: auto;" alt="A close-up of steel roving, steel singles, 2-ply copper wire, and plied steel singles and copper wire.")
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly4/spinning-2.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing how to ply a wool singles and copper wire using a drop spindle.")
      .row.mt-4
        p Next, I attached some aligator clips to a 9V battery and to the ends of the plied yarn to turn on the electromagnet. I moved a small piece of hand-twisted stainless steel roving toward it to see if it would attract.
          | It did! The magnetic field is weak, but it is there! So it is possible to ply an electromagnet rather than wrapping or corespinning one.
      .row.mt-2
        img.img-fluid(src="media/weekly4/electromagnet.PNG" style="max-width: 100%; height: auto;" alt="Aligator clips attached to a 9V and to the ends of a electromagnetic yarn.")
      .row.mt-2
        img.img-fluid.center-block(src="media/weekly4/electromagnetic-yarn.gif" style="max-width: 100%; height: auto;" alt="A GIF showing a hand-twisted piece of stainless steel roving being attraced to electromagntic yarn composed of stainless steel singles and copper wire.")
      .row.mt-4
        p
          | The original electromagnetic yarn is a tad short and weak so I decided to create another one with a bit more copper wire. I create some additional 2-ply, copper wire and then plied two of these together to create a 2x2 plied copper wire.
          | Next, I plied the copper wire with some stainless steel singles. 
      .row.mt-2
        img.img-fluid(src="media/weekly4/collage-5.PNG" style="max-width: 100%; height: auto;" alt="")
      .row.mt-4
        p This one did not turn out well. There is too much stainless steel and not enough copper.
          | In this version the stainless steel singles looks to have a greater twist angle than the copper wire, whereas in the first version the copper wire had a much greater twist angle than the stainless steel singles.
          | This version does not seem to have a noticeable magnetic field.
          br
          br
          | I am not sure what I did differently. How can I control the twist angle of my materials?
      .row.mt-4
        p
          b Reflection.  
          | I want to be able to control the twist angle and twists per inch of my materials. I wonder if this is possible with a drop spindle. Videos demonstrating how to make "art" yarn or "uneven" yarns use a spinning wheel.
          | What if I had plied 3 copper wires and 1 steel singles at once? If I hold the copper wires in parallel while spinning would this create a wider coil of copper wire with respect to the other material?
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 09/21/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt