//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 1: Documentation Exploration
      .row.mt-5
        p
          b Vision.  
          | I want to be able to document my textiles and processes from many different perspectives (close-up, macro, top-down).
          | I have a usb digital microscope with light for taking close-ups, a clip-on macro lens and wide angle lens with clip-on light for my Google Pixel for mobile macro photography, and a height adjustable desk that serves as a “mount or shelf” for my phone for taking top-down pictures and videos.
          | I don’t have any experience with these tools or with photography so I started by playing around with different angles and settings to explore what I might be able to capture.
      .row.mt-2
        img.img-fluid(src="media/weekly1/collage-1.jpg" style="max-width: 100%; height: auto;" alt="A collage of images showing a workspace with a desk and computer, a set of tools (Google Pixel 3a, usb digital microscope, Xenvo pro lens, a clip-on light, and tape), and a video taking setup wherein a phone is placed atop a desk with the camera facing down toward the floor.")
      .row.mt-6
        p
          b Process 1.  
          | The microsope takes okay pictures. It is difficult to adjust the focus as the whole structure wobbles with every touch and the adjustment dial is finicky.
          | At first, I was only able to make out the thread pattern. Then, I discovered that moving the microscope closer to the fabric increases the zoom and I was able to see the  
          a(href="https://unstable.design/prototyping-smart-textiles/_book/structure/woven.html" target="_blank" aria-label="Online book about smart textiles.")  warp and weft of the plain weave.  
          | Exciting!
          br
          br
          | I explored taking pictures with the overhead lights on and off but found no differences in the image quality. The microscope light is necessary to be able to see what is underneath the lens.
      .row.mt-2
        img.img-fluid(src="media/weekly1/collage-2.jpg" style="max-width: 100%; height: auto;" alt="Three images of a shirt sleeve placed underneath a usb digital microscope taken with different lighting.")
      .row.mt-6
        p
          b Process 2.  
          | With the hope of taking higher quality close-up images, I explored capturing images with the macro and wide angle lenses.
          | Focusing the lens was simple and the images were clear but sometimes dark. I tried different lighting techniques to remove shadows.
          | The clip-on light provided enough light to make all parts of the image visible but some shadows remained. It took me some time to figure out that I needed to use the zoom settings on my phone in combination with the two different lenses to capture well-lit, extreme close-ups. 
          | The difference between the second, third, and fourth images (in clockwise order) is the degree of camera zoom. Rather than holding the lens closer to the image, one should zoom in. Also, the lenses work best without a phone case!
      .row.mt-2
        img.img-fluid(src="media/weekly1/collage-3.jpg" style="max-width: 100%; height: auto;" alt="Close-up images of a shirt sleeve using different levels of zoom. The last image clearly shows the warp and weft of the shirt sleeve and its fibers.")
      .row.mt-6
        p
          b Process 3.  
          | Capturing a process is somtimes best done recording a video. The wood flooring in my room seemed to provide a neutral backdrop and the heigh-adjustable desk worked well for placing my phone’s camera above the floor (and keeping it level).
          | I was able to capture small and large frames by moving the desk up and down and using the camera zoom. No surprises other than having to be careful about accidentally covering the camera with parts of my body.
          | Working on the floor may become uncomfortable but has the benefit of providing ample space for fabric and tools.
      .row.mt-2
        img.img-fluid(src="media/weekly1/collage-4.jpg" style="max-width: 100%; height: auto;" alt="Two images depicting a video taking setup wherein a phone is placed atop a desk with the camera facing down toward the floor.")
      .row.mt-6
        p
          b Reflection.  
          |  I wanted to try out the InDesign template for documenting my work but I quickly realized that the original template would not be able to accommodate numerous images.
          | Going forward, I will let the content dictate the layout. I may even switch to HTML/CSS as PDF embedded videos require flash and can only be viewed using Adobe Acrobate Reader.
          br
          br
          |Looking at all of the images together, I think the macro lense captures the best pictures. I am surprised that I was able to capture the same level of detail with the macro lens compared to the digital microscope. I am a bit disappointed in the microscope’s image quality and will probably return it.
      .row.mt-7
    .col-2.mt-6.ml-5
      p 
        .text-muted Posted on
        | 08/30/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt