//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 4: Plying and Braiding Electromagnets
      .row.mt-5
        p
          b Vision.  
          | Electromangets are so cool! An electromagnet is a coil of wire (usually copper) with an electric current flowing through it.
          | The moving charges create a magnetic field such that the coil of wire behaves like a magnet.
          | Turning the current on or off turns the magnetic field on or off and changing the amount of furrent flowing through the coil changes the strenght of the magnetism.
          | Their uses are limitless, powering everything from  
          a(href="https://science.howstuffworks.com/electromagnet.htm" target="_blank" aria-label="An explanation of how electromagnets work") consumer devices and industrial equipment to  
          a(href="https://science.howstuffworks.com/transport/engines-equipment/maglev-train.htm#:~:text=In%20the%2021st%20century%20there,steel%20wheel%20and%20track%20trains." target="_blank" aria-label="An explanation of how maglev trains use electromagnetism.") mass transit.  
          br
          br
          | I am wondering if I can create an electromagnet out of textile. All I need to do is to incorporate a copper coil into yarn. Will a simple two-ply copper wire yarn combo suffice? Or maybe I can wrap or core spin copper wire around some other yarn or filament?
      .row.mt-4
        p
          b Process 1.  
          | I tried plying some X AWG copper wire and wool singles to create a two-ply yarn. I spun the wool singles using an 'S' twist and plied the copper wire and wool singles using a 'Z' twist with a drop spindle. 
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/--.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-2
        img.img-fluid(src="media/weekly3/--.jpg" style="max-width: 100%; height: auto;" alt="s")
      .row.mt-4
        p
          | I tried to create a yarn with a high ratio of copper wire to wool. I was not successful. There are about X twists per inch (TPI) of copper wire.
          | I am not sure about how I can increase the TPI of copper with respect to the wool singles. Is it possible to ply two singles such that one has a higher twist angle than the other?
          a(href="https://www.youtube.com/watch?v=unNcC645znA" target="_blank" aria-label="A video demonstrating how to handspin beehive coils") This technique for creating beehive coils in singles  
          | looks promising. Though, I think this is a wrapping or core spinnig process rather than a plying technique.
          br
          | On the plus, the yarn has no active twist and it "looks" balanced -- it is a bit difficult to tell as the stiffness of the copper wire prevents the yarn from twisting back on itself.
          br
          br
          | Next, I tried incorporating the copper wire into a braid. The kumihimo round braid looked promising as each strand in the braid follows a circular pattern. Again, I am thinking about creating a copper coil.
          br
          | I created a 16 slot kumihimo disk from cardboard.
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/second_attempt.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing nail polish being poured into a bowl of cold water. The nail polish disperses into a thick film. A ben paper clip is used to attempt to extract the nail polish. The nail polish, however, did not congeal enough to be removed. Instead, the paper clip breaks the nail polish film and swirls it around.")
      .row.mt-4
        p 
          | I used six strands of two-ply, wool yarn and two strands of two-ply, copper wire -- I plied some copper wire using the drop spindle to increase its thickness though the ply ended up low-twist (Ooops).
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/fifth_attempt.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing a single drop of nail polish being dripped into a bowl of cold water. The nail polish disperses into an ultra thin film. A bent paper clip is used to extract a perfect nail polish filament.")
      .row.mt-4
        p Working with the copper wire was more difficult than anticipated. I was not able to maintain even tension on all of the strands so the braid started to curl. This is kind of cool. 
      .row.mt-4
        p
          b Process 2.  
          | 
      .row.mt-2
        .embed-responsive.embed-responsive-9by16
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/fusing_filament.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing two pieces of nail polish filament being fused by twisting the ends of each filament togther.")
      .row.mt-4
        p The total length of the nail polish string is 12.59 inches. Any length of string can be produced using this method.
      .row.mt-2
        img.img-fluid(src="media/weekly3/collage-1.png" style="max-width: 100%; height: auto;" alt="Images showing several pieces of nail polish filament fused together by twisting. Four fused filaments total a string of 12.59 inches.")
      .row.mt-4
        p I took some picture of the nail polish string using a macro lens. The pictures reveal that each filament is a ribbon, a bunched-up and rolled-up piece of thin film. I am amused that the glitter is visible in the ribbon. However, where I twisted the ends of the filament to join them, the filament looks similar to nylon. 
      .row.mt-2
        img.img-fluid(src="media/weekly3/collage-2.png" style="max-width: 100%; height: auto;" alt="Close-up images of nail filament showing beautiful ribbons with embedded glitter.")
      .row.mt-4
        p I manipulated the string with my hands to get a feel for how it behaves. It is light and has a little bit of stretch (but don't stretch too much or it will snap). It is flexible and does not hold shape. I think it would be possible to spin it into a two-ply yarn and to sew with it.
      .row.mt-2
        img.img-fluid(src="media/weekly3/manipulating_filament.jpg" style="max-width: 100%; height: auto;" alt="Nail polish filament wrapped around several fingers.")
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="https://s3.us-east-2.amazonaws.com/softobject/weekly3/manipulating_filament.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing two pieces of nail polish filament being fused by twisting the ends of each filament togther.")
      .row.mt-6
        p
          b Process 3.  
          | I wanted to learn more about what was happening to the nail polish when adding it to water, so I turned to Google. I discovered that creating thin film from clear nail polish is
          a(href="http://www.google.com/search?q=nail+polish+thin+film" target="_blank" aria-label="Google search for nail polish thin film")  a popular science experiement across the internet.  
          | A thin film of clear nail polish is a great introduction into nanotechnology providing an example of how a material behaves on the macroscale is affected by its structure on the nanoscale.
          br
          br
          | There are different types of nail polish but most "lacquer" nail polish is  
          a(href="https://en.wikipedia.org/wiki/Nail_polish" target="_blank" aria-label="Wikipedia page on nail polish")  a polymer dissolved in a volatile organic solvent consisting of nitrocellulose and butyl acetate or ethyl acetate.  
          | Nail polish is 
          a(href="https://pubmed.ncbi.nlm.nih.gov/29743434/" target="_blank" aria-label="PDF detailing a nail polish thin film science experiment")  hydrophobic
          | , it repels water. When added to water, the nail polish spreads out into a thin film
          a(href="http://nisenet.org/sites/default/files/catalog/uploads/MaterialsFilm_guide_5oct14.pdf" target="_blank" aria-label="")  a few hundred nanometers thick.  
          br
          br
          | I am unable to find a definitive answer to why the nail polish hardens in the water. Butyl acetate and ethyl acetate  
          a(href="https://pubs.acs.org/doi/abs/10.1021/ja01103a501" target="_blank" aria-label="")  do dissolve in water at around 8.5g per 100 ml of water (depending on the water temperature).  
          | Given the small amount of nail polish, I suspect that some of the acetate dissolves and the nail polish thickens.
      .row.mt-4
        p
          b Reflection.  
          | What if I had plied 3 copper wires and 1 steel singles at once? Holding the copper wires in parallel.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 09/11/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt