//- weekly2.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 2: Exploring Barklice Fiber
      .row.mt-5
        p
          b Vision.  
          | While taking a walk, I happened upon a tree that was covered in white, fibrous webbing, and I am wondering what this structure is about: how did this structure come to be? what is this structure made of? what are the fibers in this structure like? what can I do with the fibers?
          | I started exploring the structure by gently pulling it apart, rolling it between my fingers, feeling the texture, smelling it, layering it ontop of itself, and so on. I did not have my macro lens with me so I collected a sample (by spinning the webbing around a stick) to further analyze at home.
      .row.mt-2
        img.img-fluid(src="media/weekly2/collage-1.png" style="max-width: 100%; height: auto;" alt="Images of barklice webbing on a tree branch and a woman taking pictures of the webbing using a phone.")
      .row.mt-6
        p
          b Process 1.  
          | The fibers are sticky and seem to want to fuse together into strands of different lenghts and widths. Any dirt caught between the fibers gets trapped in the strands. Once the fibers stick together, it is difficult to tease them apart. Here are a video and some picture of the structure taken with a macro lens at different zoom levels.
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly2/teasing-apart.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing barklice webbing being pulled and teased apart to inspect the structure's fibers.")
      .row.mt-2
        img.img-fluid(src="media/weekly2/collage-2.png" style="max-width: 100%; height: auto;" alt="Close-ups of barklice webbing. The individual fibers have fused together into strings and look like strands of hair bunched together.")
      .row.mt-4
        p
          | I separated a clean section of webbing to try to make out the individual fibers. The fibers are quiet small and difficult to photograph -- a stable length of less than 1 milimeter. I had some trouble finding a background that would bring out the texture of the fibers. I tried several different surfaces: wooden desk, a black, leather ottoman, white paper. 
          | I found that an iPad's screen worked best. The surface is smooth (the glass has little to no texture) and dark when the iPad is turned off.
          br
          br
          | In the images, one can see that the fibers are crimped. However, in contrast to wool, the fibers do not behave like little springs -- though they may look springy. When squished between one's fingers, the fibers fuse together as if glued.
      .row.mt-2
        img.img-fluid(src="media/weekly2/collage-3.png" style="max-width: 100%; height: auto;" alt="A macro lens next to a tripod placed atop an iPad and close-up images of clean barklice fiber taken using the tripod setup.")
      .row.mt-4
        p
          | The fibers are incredibly lightweight and blow away with the smallest breath of air. In the video, I am gently blowing on the fibers.
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly2/air-test.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A close-up video of barklice fiber moving with the slights puff of air.")
      .row.mt-6
        p
          b Process 2.  
          | Next, I investigated the fibers for different properties.
        ol
          li I tested the fibers conductivity using a multimeter. The fibers do not appear to be conductive.
          li I explored how the fibers would react to water by sprinkling a droplet on them. The fibers appear to be somewhat hydrophopic; they repell water but are not impervious.
          li I tested the fibers fire resistance by setting them ablaze with a lighter. I am unsure if the fiber itself burned or if only the dirt (bark particles) trapped between the fibers burned.
      .row.mt-2
        img.img-fluid(src="media/weekly2/collage-4.png" style="max-width: 100%; height: auto;" alt="Two images of a watt of barklice fiber next to a ruler with two multimeter probes stuck into the fiber.")
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly2/water-test-short.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing a droplet of water being dripped on a watt of barklice fiber. The water droplet sits atop the barklice fiber -- the fiber does not absorb the water droplet.")
      .row.mt-2
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="media/weekly2/fire-test.mp4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="A video showing a watt of barklice fiber in a cooking pan being set ablaze by a lighter. The barklice fiber seems to burn and melt into a small grey blob.")
      .row.mt-2
        img.img-fluid(src="media/weekly2/fire-test.jpg" style="max-width: 100%; height: auto;" alt="A close-up of the burnt barklice fiber remains spread across the tip of a finger. Some of the barklice fiber seems to be intact.")
      .row.mt-6
        p
          b Process 3.  
          | I searched for this structure on Google and found that these webs are made by barklice. Barklice are tiny, brown insects that feed on fungi, dead plant tissue, and debris. As the barklice feed, they spin a silken webbing from their mouths. The webbing can wrap the tree from the base of its trunk to the tips of its branches.
          | The webbing is
          a(href="https://vtechworks.lib.vt.edu/bitstream/handle/10919/70646/ENTO-143.pdf?sequence=1" target="_blank" aria-label="A report about barklice and barklice webbing.")  fragile and will deteriorate on its own. 
          | Sadly, I am unable to find details about the exact make-up and structure of the webbing. 
      .row.mt-4
        p
          b Reflection.  
          | Fibers are everywhere! I am beginning to think that most materials can be turned into a textile. I am really excited to attempt to spin barklice silk into yarn. I have some ideas about how this may be done. 
          | Given that the fiber is rather fragile, it may be best to use the fibers as a frosting (i.e., the roving in core-spinning). In fact, the fibers naturally occur in the form of roving. It seems that it would be possible to remove the web from the tree and spin it around a core yarn.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 09/07/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt