//- weekly3.pug
extends layout.pug
block content
  .row
    .col-7.mt-5
      .row
        h1 Weekly 3: Making Nail Polish Filament
      .row.mt-5
        p
          b Vision.  
          | I am fascinated by how nylon is made: mixing two substances together to create a gooey filament that eventually hardens into a strong, flexible string. I am wondering if there are other substances that, when mixed together, can be turned into a filament.
          | Nail polish? Isn't there some hack to dry nail polish more quickly by dipping one's nails into cold water? I think it might be possible to make nail polish filament by mixing nail polish with water. The nail polish will coagulate and I should be able to extract the goo.
      .row.mt-4
        p
          b Process 1.  
          | I started experimenting with a small bowl of ice water (tap water + ice cubes) and a few drops of red(ish) glitter nail polish from  
          a(href="https://www.zoya.com/")  Zoya.  
          br
          br
          i Attempt 1.  
          | I added 3 drops of nail polish to the ice water. The nail polish does not seem to mix with the water. Instead, it rises to the surfaces, disperses, and creates a thin film across the surface of the water.
          | Similar to the do-it-yourself nylon making process, I used a bent paper clip to snag the thin film and extract it. It worked!
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly3/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p
          | The filament is rather short. Perhaps, adding more nail polish will create more film and therefore a longer filament when pulled from the water.
          br
          br
          i Attempt 2.  
          | I added many drop of nail polish to the water -- no longer ice water but still cold. The film is much thicker and more visible this time. Again, I attempted to extract the coagulated nail polish with the bent paper clip. No luck!
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly3/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p 
          | I think film is too thick. I speculate that the outer layer of nail polish coagulates while the inner layer remains liquid. The outer layer is not strong enough to encase the inner layer. When I attempt to extract the nail polish, the outer layer breaks.
          br
          br
          i Attempt 3.  
          | I added a single drop of nail polish to the cold(ish) water to create a super thin film. I waited a few seconds for the nail polish to coagulate and then extracted the filament with the paper clip.
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly3/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p The filament is still a bit short but I believe the process works. If I had a large vessel of water, I could create a really wide layer of film and long filament. I ended this particular experiment here because I started to get dizzy from the fumes of the nail polish.
      .row.mt-4
        p
          b Process 2.  
          | I wanted to try to fuse the pieces of filament together to create a longer piece of nail polish string.
          | As the nail polish has not dried (only coagulated), I should be able to stick the filament ends together. I overlapped two ends of filament and twisted them together -- hoping that the twist lends the bond some strength.
          | It worked!
      .row.mt-2
        .embed-responsive.embed-responsive-21by9
          iframe.embed-responsive-item(width="760" height="455" src="images/weekly3/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="")
      .row.mt-4
        p I took some picture of the nail polish string using a macro lens. The pictures reveal that each filament is a ribbon, a bunched-up and rolled-up piece of thin film. I am amused that the glitter is visible in the ribbon. However, where I twisted the ends of the filament to join them, the filament looks similar to nylon. 
      .row.mt-2
        img.img-fluid(src="images/weekly3/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-2
        img.img-fluid(src="images/weekly3/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-4
        p I manipulated the string with my hands to get a feel for how it behaves. It is light and has a little bit of stretch (but don't stretch too much or it will snap). It is flexible and does not hold shape. I think it would be possible to spin it into a two-ply yarn and to sew with it.
      .row.mt-2
        img.img-fluid(src="images/weekly3/" style="max-width: 100%; height: auto;" alt="")
      .row.mt-4
        p
          b Process 3.  
          | I wanted to learn more about what was happening to the nail polish when adding it to water, so I turned to Google. I discovered that creating thin film from clear nail polish is
          a(href="http://www.google.com/search?q=nail+polish+thin+film" target="_blank")  a popular science experiement across the internet.  
          | A thin film of clear nail polish is a great introduction into nanotechnology providing an example of how a material behaves on the macroscale is affected by its structure on the nanoscale.
          br
          br
          | There are different types of nail polish but most "lacquer" nail polish is  
          a(href="https://en.wikipedia.org/wiki/Nail_polish")  a polymer dissolved in a volatile organic solvent consisting of nitrocellulose and butyl acetate or ethyl acetate.  
          | Nail polish is 
          a(href="https://pubmed.ncbi.nlm.nih.gov/29743434/" target="_blank")  hydrophobic
          | , it repels water. When added to water, the nail polish spreads out into a thin film
          a(href="http://nisenet.org/sites/default/files/catalog/uploads/MaterialsFilm_guide_5oct14.pdf" target="_blank")  a few hundred nanometers thick.  
          br
          br
          | I am unable to find a definitive answer to why the nail polish hardens in the water. Butyl acetate and ethyl acetate  
          a(href="https://pubs.acs.org/doi/abs/10.1021/ja01103a501")  do dissolve in water at around 8.5g per 100 ml of water (depending on the water temperature).  
          | Given the small amount of nail polish, I suspect that some of the acetate dissolves and the nail polish thickens.
      .row.mt-4
        p
          b Reflection.  
          | This has me thinking more about the nanoscale of things. How can we manipulate fibers on the nanoscale to create new materials?
    .col-2.mt-6.ml-5
      p 
        .text-muted Posted on
        | 09/11/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt