//- weekly6.pug
extends layout.pug
block content
  .row
    .col-8.mt-5
      .row
        h2 Weekly 6: Exploring Woven Structures
      .row.mt-5
        p
          b Vision.  
          | I want to explore weaving 3D structures -- until now, I have thought of woven fabrics as being two-dimensional.
          | I want to create layers, gaps, bumps, and grooves. 
      .row.mt-4
        p
          b Process 1.  
          | I found a pile of broken branches and I am thinking about using a forked twig as a loom.
          | To start, I wrapped two branches with cotton yarn to create two layers of warp.
          | The warp is snug and bouncy.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-1.png" style="max-width: 100%; height: auto;" alt="A forked branch being turned into a loop by wrapping cotton yarn between two twigs.")
      .row.mt-4
        p
          | I selected a medium yarn to weave a random pattern across the loom.
          | I wove a few rows on both sides using the simple under-over method.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-2.png" style="max-width: 100%; height: auto;" alt="Several images of thick red yarn woven into a forked branch loom in a random pattern.")
      .row.mt-4
        p
          | The warp was not as taut as I thought and started to move on me.
          | It was difficult to keep the cotton strings in place while pushing the yarn through the tight rows.
          | I stuck some push pins into the twig to hold up the first row of warp.
          br
          br
          | To add some depth to the weave, I switched to a thinner yarn.
          | I also wove in a twig across one layer.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-3.png" style="max-width: 100%; height: auto;" alt="Several images of a forked branch loom woven with thick red and thin green yarn and a twig.")
      .row.mt-4
        p
          | I experimented with different ways to weave around the twig to hide or accentuate it.
          | I tried to weave the two layers together into a single layer to make it look as if the twig is on top of the woven structure (or behind the woven structure when looking at it from the other side).
          | I also wove over the branch so that a section of the weave would create a bump
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-4.png" style="max-width: 100%; height: auto;" alt="Several images of a forked branch loom woven with thick red and thin green yarn and a twig. The weaving pattern is random with some layers woven together and section of the twig covered with yarn.")
      .row.mt-4
        p
          | The resulting tapestry looks funky. A bit reminiscent of a dream catcher.
      .row.mt-4
        p
          b Process 2.  
          | I want to create a finger hopscotch tapestry.
          | Each of the hopscotch squares are woven with copper wire to create a series of resistive touch squares.
          | I am hoping to be able to sense any combination of hops with some simple calculations.
          br
          br
          | To do this, I used a rectangular, cardboard loom and a cotton warp.
          | For the weft, I want to use some light worsted, wool yarn and 38 AWG copper wire (for the squares).
          | I started with a two-over-one-under weave pattern.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-5.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom showing the progress of weaving wool yarn with the under-over method.")
      .row.mt-4
        p
          | I realized that it would require a lot of copper wire to weave even a little square, so I plied the copper with some jute 2-ply.
          | I quite like the look and feel of jute.
          | This particular yarn has been dyed and has sections that are tinted, blue, yellow, and red.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-6.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom woven with green yarn and multicolored jute, copper wire yarn. The images show the progress of creating 3 jute, copper wire squares with green yarn in between.")
      .row.mt-4
        p
          | I created 3 squares (i.e., touch points) with continues jute, copper wire cabled yarn.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-7.png" style="max-width: 100%; height: auto;" alt="Several images of a cardboard loom woven with green yarn and multicolored jute, copper wire yarn. There are 3 jute, copper wire squares with green yarn in between each square and surrounding the squares. The squares are arranged in a 1-2 hopscotch pattern.")
      .row.mt-4
        p
          | I attached a 9 volt battery to each end of the jute, copper wire cabled yarn and measured the changes in resistance when touching each square.
          | I did not get consistent values. I think I used too little copper and the overall resistance was too high making the resistance values really small and variable.
          | In theory, I would be able to measure a difference in resistance with each "hop" and determine where the user's fingers landed.
      .row.mt-2
        img.img-fluid(src="media/weekly6/finger-hop-scotch.gif" style="max-width: 100%; height: auto;" alt="A GIF demonstrating how the hopscotch board is to be used. A person's fingers jump from square to square.")
      .row.mt-6
        p
          b Process 3.  
          | What can I turn into a loom? 
          | Looking around the room, I saw a pair of shoes and thought that I might be able to use the shoe laces as warp.
          | It could be a wearable loom.
      .row.mt-2
        img.img-fluid(src="media/weekly6/collage-8.png" style="max-width: 100%; height: auto;" alt="Several images of a shoe being converted into a loom by rearranging the shoe laces into warp and weaving another shoe lace across the warp.")
      .row.mt-6
        p
          b Reflection.
          | It is difficult to predict how a weave pattern will turn out.
          | In particular, it is difficult to line up different patterns woven with different sizes of yarn.
          | In my experiments, I had a hard time determining how many rows of one yarn would match the thickness of the rows of another yarn.
          br
          br
          | I don't think I was creative with my weave patterns. Now that I have created two tapestries, I want to try incorporating knots and loops across the warp.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 10/03/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt