//- weekly8.pug
extends layout.pug
block content
  .row
    .col-8.mt-5
      .row
        h2 Weekly 8: Materials for Textile Electronics
      .row.mt-5
        p
          b Vision.  
          | I want to find any materials that might be useful in constructing and integrating electronics into textiles.
          | As I intend to create a fidget knit wearable, I am specifically looking for materials that can knit with, weave into a knit, or attach to a knitted structure.
          | Other materials of interest are things that can be blended with yarns (e.g., twisted into, sprayed onto, etc.).
          br
          | I will begin scavanging for these materials by looking through the kitchen and the garage.
      .row.mt-4
        p
          b Connectors.
          br  
          | Conductive connectors: Grommets, paper clips, pins (safety, push, and sewing pins), nails, wire-making kit, graphite powder
          br
          | Non-conductive fasteners: Velcro, double-sided tape, glue (fabric, gorilla, and hot glue), rubber bands  
      .row.mt-2
        img.img-fluid(src="media/weekly8/wire-kit.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-2
        img.img-fluid(src="media/weekly8/connectors.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-6
        p
          b Insulators.  
          | Kapton tape, electrical tape, heat shrink tubing, hot glue, scrap fabric (tons of it)
      .row.mt-2
        img.img-fluid(src="media/weekly8/insulators.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-6
        p
          b Components.  
          | Resistors, capacitors, MOSFETS, batteries
          br
          | Actuators: SMA wire, servos, LEDs
          br
          | Sensors: Ultrasonic sensor, PIR sensor, light sensor (i.e., photoresistor)
      .row.mt-2
        img.img-fluid(src="media/weekly8/box-of-stuff.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-6
        p
          b Tools.  
          | Scissors, multimeter, knitting needles, sewing machine, toolset (i.e., wrenches and stuff), soldering iron
      .row.mt-2
        img.img-fluid(src="media/weekly8/tools.jpg" style="max-width: 100%; height: auto;" alt=".")
      .row.mt-6
        p
          b Reflection.
          | I have acquired a ridiculous amount of crafting material and electronics over the past 2 years.
          | I believe I own (or have access to) everything that I could possibly need for my fidget knit project.
      .row.mt-7
    .col-2.mt-7.ml-5
      p 
        .text-muted Posted on
        | 11/01/2020
      br
      p
        .text-muted Authored by
        | Annika Muehlbradt