//- work.pug
extends layout.pug
block content
  .row.justify-content-center.work.row-cols-2.row-cols-md-3
    .col
      a(href="/weekly1" aria-label="Weekly 1: Documentation Exploration")
        img(src="media/weekly1/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly2" aria-label="Weekly 2: Exploring Barklice Fiber")
        img(src="media/weekly2/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly3" aria-label="Weekly 3: Creating Nail Polish Filament")
        img(src="media/weekly3/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly4" aria-label="Weekly 4: Plying and Braiding Electromagnets")
        img(src="media/weekly4/tile.gif" alt="" style="width: 100%;")
    .col
      a(href="/weekly5" aria-label="Weekly 5: Exploring Different Kit Structures")
        img(src="media/weekly5/tile.png" alt="" style="width: 100%;")
    .col
      a(href="/weekly6" aria-label="Weekly 6: Exploring Woven Structures")
        img(src="media/weekly6/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly7" aria-label="Weekly 7: Tasty Leather")
        img(src="https://s3.us-east-2.amazonaws.com/softobject/weekly7/tile.gif" alt="" style="width: 100%;")
    .col
      a(href="/weekly8" aria-label="Weekly 8: Materials for Textile Electronics")
        img(src="media/weekly8/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly9" aria-label="Weekly 9: Connecting Rigid and Flexible Electronics")
        img(src="media/weekly9/tile.jpg" alt="" style="width: 100%;")
    .col
      a(href="/weekly10" aria-label="Weekly 10: Routing")
        img(src="https://s3.us-east-2.amazonaws.com/softobject/weekly10/tile.gif" alt="" style="width: 100%;")
    .col
    .col

    